.DS_Store
/*
!/.gitignore
!/.warp
!/.config
/.config/*
!/.config/helix
!/.config/fish
/.config/fish/*
!/.config/fish/config.fish
!/.config/karabiner
/.config/karabiner/*
!/.config/karabiner/karabiner.json
